{% extends "ProyectoWebapp/base.html" %}
    
    {% load static %}
    <title>
        {% block title %}

            VENTAS -- TOYOTALCPARTS

        {% endblock title %}
  
    </title>    

    <link rel="stylesheet" href="{% static 'ProyectoWebapp/css/style.css' %}">

    
    

    {% block content %}
   
    <!-- Cards -->
    <section class="cardBox">
        <section class="card">
            <section>
                <section class="numbers">1.504</section>
                <section class="cardName">Productos</section>
            </section>
            <section class="iconBx">
                <ion-icon name="eye-outline"></ion-icon>
            </section>
        </section>
        <section class="card">
            <section>
                <section class="numbers">64</section>
                <section class="cardName">Clientes</section>
            </section>
            <section class="iconBx">
                <ion-icon name="people-outline"></ion-icon>
            </section>
        </section>
        <section class="card">
            <section>
                <section class="numbers">89</section>
                <section class="cardName">Ventas</section>
            </section>
            <section class="iconBx">
                <ion-icon name="cart-outline"></ion-icon>
            </section>
        </section>
        <section class="card">
            <section>
                <section class="numbers">$2,300</section>
                <section class="cardName">Ganacia</section>
            </section>
            <section class="iconBx">
                <ion-icon name="cash-outline"></ion-icon>
            </section>
        </section>
        <section class="card">
            <section>
                <section class="numbers">$2,300</section>
                <section class="cardName">Ganacia</section>
            </section>
            <section class="iconBx">
                <ion-icon name="cash-outline"></ion-icon>
            </section>
        </section>
        <section class="card">
            <section>
                <section class="numbers">$2,300</section>
                <section class="cardName">Ganacia</section>
            </section>
            <section class="iconBx">
                <ion-icon name="cash-outline"></ion-icon>
            </section>
        </section>
        <section class="card">
            <section>
                <section class="numbers">$2,300</section>
                <section class="cardName">Ganacia</section>
            </section>
            <section class="iconBx">
                <ion-icon name="cash-outline"></ion-icon>
            </section>
        </section>
        <section class="card">
            <section>
                <section class="numbers">$2,300</section>
                <section class="cardName">Ganacia</section>
            </section>
            <section class="iconBx">
                <ion-icon name="cash-outline"></ion-icon>
            </section>
        </section>
        <section class="card">
            <section>
                <section class="numbers">$2,300</section>
                <section class="cardName">Ganacia</section>
            </section>
            <section class="iconBx">
                <ion-icon name="cash-outline"></ion-icon>
            </section>
        </section>
        <section class="card">
            <section>
                <section class="numbers">$2,300</section>
                <section class="cardName">Ganacia</section>
            </section>
            <section class="iconBx">
                <ion-icon name="cash-outline"></ion-icon>
            </section>
        </section>
        <section class="card">
            <section>
                <section class="numbers">$2,300</section>
                <section class="cardName">Ganacia</section>
            </section>
            <section class="iconBx">
                <ion-icon name="cash-outline"></ion-icon>
            </section>
        </section>
        
    </section>

    

    {% endblock content %}




