{% extends "Vistas/base.html" %}
    
    {% load static %}
    <title>
        {% block title %}

            PRODUCTOS

        {% endblock title %}
  
    </title>    

    <link rel="stylesheet" href="{% static 'ProyectoWebapp/css/style.css' %}">

    
    

    {% block content %}

    

    <section class="main">

        <section class="topbar">

            <!-- MENU HAMBURGUESA -->
            <section class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </section> 
            
            <!-- SEARCH -->
            <section class="search">
                <form action="/buscar/" method="get">
                <label>
                        <input type="text" placeholder="Buscar..." name="searchproductos" >
                        <ion-icon name="search-outline"></ion-icon>
                </label>
            </form>
            </section>

            <!-- USER IMG -->
            <section class="user">
                <img class="img_user" src="{% static 'ProyectoWebapp/img/sp.jpg' %}" alt="">
            </section>
            
        </section>
   
   
    <!-- Cards -->
    <!-- <section class="cardBox">
        <section class="card">
            <section>
                <section class="numbers">Nuevo</section>
                <section class="cardName">Producto</section>
            </section>
            <section class="iconBx">
                <ion-icon name="add-outline"></ion-icon>
            </section>
        </section>
        
    </section> -->

    <section class="details productos">
        <!-- order details list -->
        <section class="recentOrders">
            <section class="cardHeader">
                <h2>Productos</h2>
                <!-- <a href="#" class="btn">Ver todo</a> -->
            </section>

           

                <table>
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Producto</td>
                            <td>Marca</td>
                            <td>Seccion</td>
                            <td>Stock</td>
                            <td>Precio Venta</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in articulos %}
                        
                        <tr>
                            <td><span class="status id">{{producto.id}}</span></td>
                            <td>{{producto.producto}}</td>
                            <td>{{producto.marca}}</td>
                            <td>{{producto.seccion}}</td>
                            <td>{{producto.cantidad}}</td>
                            <td>$  {{producto.precio}}.00</td>
                        </tr>                   
                                                
                        {% endfor %}
                    </tbody>
                </table>

                
        </section>

        

        





    </section>

    {% endblock content %}




